.Body {
  padding: 0px 20px 0px 20px;
  background-color: black;
}
.Header {
  display: flex;
  height: 100px;
  border-bottom: #00bd13 0px solid;
  -webkit-box-shadow: 0px 0px 18px -10px #00bd13; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 18px -10px #00bd13; /* Firefox 3.5 - 3.6 */
  box-shadow: 0 10px 15px -15px #00bd13;
}
.DrawerIcon {
  /* margin-top: 30px;
  z-index: 3; */
  margin-left: -10px;
  position: absolute;
  align-self: center;
}
.ProgramTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  margin-left: 10px;
}
.ProgramList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
  height: 20px;
  margin: 10px 0px 10px 10px;
  border-left: #ff5c5c solid 3px;
  align-items: center;
  cursor: grab;
}
.ProgramText {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  background-color: black;
  border: none;
}
.Team {
  display: flex;
  /* margin-top: 70px; */
}
.TeamText {
  color: #00d1ff;
  font-size: 18px;
  font-weight: 500;
}
.LocationBox {
  background-color: #1f1f1f;
  padding: 10vh;
}
.AddButtonContainer {
  /* margin: 20px 0px 20px 0px; */
  display: flex;
  justify-content: center;
}
.Modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
}
.ModalTitle {
  display: flex;
  color: #ffffff;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.ModalClose {
  float: right;
}
.ModalHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 100%;
  color: #fff;
}
.Paper {
  padding: 0px 1px 0px 1px;
  /* background-color: #00bd13; */
}
.gridInput {
  border: none;
  text-align: center;
  color: white;
  background-color: #00bd13;
  font-size: 12px;
  width: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
